__pycache__
.pytest_cache

core/libs/
core/test_data/
core/features/experimental


# secrets
.env
servacc1_key.json
docai_servacc.json
application_default_credentials.json

db.py
storage
test_notebooks
ass1_notebooks
ass2_notebooks
